In [15]:
analyst = 'Anatoly'

In [16]:
years = 2

In [17]:
has_job = False

In [2]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [3]:
years = [2, 3, 4]

In [4]:
analysts[1]

'Olga'

In [5]:
years[2]

4

In [6]:
analysts.append('Michail')

In [7]:
analysts.remove('Olga')

In [8]:
analysts

['Anatoly', 'Beslan', 'Michail']

In [9]:
analysts.insert(1, 'Olga')

In [10]:
analysts

['Anatoly', 'Olga', 'Beslan', 'Michail']

In [11]:
analysts.pop(3)

'Michail'

In [14]:
len(analysts)

3

In [18]:
if has_job == True:
    print ('Anatoly is happy!')
else:
    print ('Anatoly is sad!')

Anatoly is sad!

In [68]:
job_years = 5

In [66]:
salary = 120000

In [72]:
message = 'Addition is equal {coef}. New salary is {new_salary} !'

In [73]:
if job_years < 1:
    coefficient = 0 
elif job_years >= 1 and job_years <= 2:
    coefficient = 0.2
else: 
    coefficient = 0.4
    
new_salary = salary + salary * coefficient
    
print(message.format(coef = coefficient, new_salary = new_salary))

Addition is equal 0.4. New salary is 168000.0 !

In [74]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [77]:
for i in analysts:
    if i == 'Anatoly':
        print('Analyst name is {}!'.format(i))

Analyst name is Anatoly!

In [178]:
analysts_data = {'Anatoly': [2, 100000], 'Olga': [3, 200000], 'Beslan': [4, 300000]}

In [179]:
analysts_data['Michael'] = [3.5, 250000]

In [180]:
for i in analysts_data:
    print(i, analysts_data[i])

Anatoly [2, 100000]
Olga [3, 200000]
Beslan [4, 300000]
Michael [3.5, 250000]

In [108]:
for i in analysts_data:
    print('Analyst name is {}'.format(i))
    print('Job years is {}'.format(analysts_data[i][0]))
    print('Salary is {}'.format(analysts_data[i][1]))

Analyst name is Anatoly
Job years is 2
Salary is 100000
Analyst name is Olga
Job years is 3
Salary is 200000
Analyst name is Beslan
Job years is 4
Salary is 300000
Analyst name is Michael
Job years is 3.5
Salary is 250000

In [182]:
for i in analysts_data:
    if analysts_data[i][1] >= 200000:
        print(i)

Olga
Beslan
Michael

In [ ]:
age = 20
name = 'Olga'

In [ ]:
age

In [ ]:
name

In [115]:
user_info = ['Olga', 'Petrova', 150000.50, 2]

In [116]:
user_info

['Olga', 'Petrova', 150000.5, 2]

In [117]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [118]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [134]:
worker = ['Olya', 'Silyutina', 350000, 1]

In [139]:
if worker[3] < 2:
    position = 'junior' 
elif worker[3] >= 2 and worker[3] < 5:
    position = 'middle'
else: 
    position = 'senior'

In [151]:
status = worker[0]+ ' ' + worker [1] + ' is ' + position

In [152]:
status

'Olya Silyutina is junior'

In [154]:
status = '{} {} is {}'.format(worker[0], worker[1], position)

'Olya Silyutina is junior'

In [155]:
name, surname, salary, years = worker

In [164]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []

In [165]:
for i in values:
    if i % 10 == 0:
        tens.append(i)

In [166]:
tens

[10, 100, 20, 50, 160, 210]

In [189]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 5]]

In [192]:
for worker in workers:
    name, family, salary, years = worker
    if years < 2:
        position = 'junior' 
    elif years >= 2 and years < 5:
        position = 'middle'
    else: 
        position = 'senior'
              
    status = '{} {} is {}'.format(name, family, position)
    print(status)

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

In [ ]:
lst = []
dn = 2
n = 0
N = 10
while n < N:
    print (n)
    n += dn
    lst.append(n)

In [ ]:
lst

In [ ]:
lst = []
while n < N:
    print (n)
    n += dn
    lst.append(n)