In [2]:
import pandas as pd
import os

In [21]:
folder_data = [i for i in os.listdir('/home/jupyter-an.karpov/shared/Res_Tree') if not i.startswith('.')]

In [22]:
# for i in folder_data:
#     if not i.startswith('.'):
#         print(i)

# [i for i in folder_data if not i.startswith('.')]

In [ ]:
# x = ['1', '2', 'start', '3', '4', 'end', '5', '6', 'start', '7', '8', 'end']
# scanning = False
# for i in x:
#     if i == 'end':
#         scanning = False
#         continue    
    
#     if scanning:
#         print(i)
    
    
#     if i == 'start':
#         scanning = True
#         continue

In [23]:
folder_data

['F000545', 'M000547', 'F000570']

In [70]:
p = '/home/jupyter-an.karpov/shared/Res_Tree/F000545/res_2019.09.11_0.0_6493B6_Container-dat_2125_91-105-165_F000545/meals_list_2.txt'

In [71]:
all_data = open(p).readlines()

In [93]:
all_data = []

In [94]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        all_data.append([value.strip() for value in i.split(';')])
        
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

In [95]:
final_col_names = [col.strip() for col in col_name.split(';')]

In [129]:
meal_df = pd.DataFrame(all_data, columns=final_col_names[0:17])

In [130]:
meal_df.head()

,Meal#,Date,Start,End,Flags,E-IN,Cbh,Fat,Pro,S. tstamp,End tstamp,Minutes,Recs,First,Last,Type,Frags
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,

In [131]:
meal_df = meal_df.astype({'Minutes': 'int', 'Pro': 'float'})

In [132]:
meal_df['Date'] = pd.to_datetime(meal_df.Date)

In [133]:
user_meal_df = meal_df[['Date', 'Pro', 'Minutes']]

In [142]:
df = user_meal_df.groupby('Date', as_index=False) \
    .agg({'Minutes': 'sum'})

In [143]:
df.to_csv('df_minutes.csv', index=False)