In [1]:
import pandas as pd
import os

In [2]:
folder_data = [i for i in os.listdir('/home/jupyter-l.fedoseeva-12/shared/Res_Tree') if not i.startswith('.')]

In [4]:
# for i in folder_data:
#     if not i.startswith('.'):
#         print(i)

# [i for i in folder_data if not i.startswith('.')]

In [ ]:
# x = ['1', '2', 'start', '3', '4', 'end', '5', '6', 'start', '7', '8', 'end']
# scanning = False
# for i in x:
#     if i == 'end':
#         scanning = False
#         continue    
    
#     if scanning:
#         print(i)
    
    
#     if i == 'start':
#         scanning = True
#         continue

In [4]:
p = '/home/jupyter-l.fedoseeva-12/shared/Res_Tree/F000545/res_2019.09.11_0.0_6493B6_Container-dat_2125_91-105-165_F000545/meals_list_2.txt'

In [6]:
meal_data = open(p).readlines()

In [17]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        print(i)
        
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;

     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;

     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;

     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;

     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;

     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;

     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;

     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;

     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;

     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;

     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;

     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;

     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;

     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;

     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;

     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;

     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;

In [10]:
scanning = False
for i in meal_data:
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue    
        
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        print(i)

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;

     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;

     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;

     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;

     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;

     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;

     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;

     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;

     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;

     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;

     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;

     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;

     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;

     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;

     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;

     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;

     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;

In [18]:
all_data = []

In [19]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        all_data.append([value.strip() for value in i.split(';')])
        
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

In [20]:
final_col_names = [col.strip() for col in col_name.split(';')]

In [21]:
meal_df = pd.DataFrame(all_data, columns=final_col_names[0:17])

In [23]:
meal_df.head()

,Meal#,Date,Start,End,Flags,E-IN,Cbh,Fat,Pro,S. tstamp,End tstamp,Minutes,Recs,First,Last,Type,Frags
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,

In [29]:
meal_df = meal_df.astype({'Minutes': 'int', 'Pro': 'float'})

In [30]:
meal_df['Date'] = pd.to_datetime(meal_df.Date)

In [31]:
user_meal_df = meal_df[['Date', 'Pro', 'Minutes']]

In [32]:
user_meal_df.dtypes

Date       datetime64[ns]
Pro               float64
Minutes             int64
dtype: object

In [33]:
df = user_meal_df.groupby('Date', as_index=False) \
    .agg({'Minutes': 'sum'})

In [34]:
df

        Date  Minutes
0 2020-09-01      783
1 2020-10-01      778
2 2020-11-01      750

In [ ]:
df.to_csv('df_minutes.csv', index=False) #сохранение в файл