In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
pokemon = pd.read_csv('https://stepik.org/media/attachments/lesson/363874/Pokemon.csv')

Сначала измените названия исходных столбцов:

пробелы и точки нужно заменить на "_" (напр. Sp. Atk --> sp_atk).
приведите все названия к нижнему регистру
колонку "#" переименовать в "id"
Полученные результаты запишите в исходный датафрейм pokemon.

Затем сгруппируйте данные по поколению покемонов (generation), и с помощью value_counts() посчитайте, сколько в каком поколении легендарных покемонов (legendary), а также сколько в этих поколениях нелегендарных покемонов. Полученный объект приведите к формату датафрейма (.to_frame()) и сохраните в legends.

In [49]:
pokemon = pokemon.rename(columns=lambda x: x.replace('. ', '_').replace(' ', '_').lower())

In [50]:
pokemon = pokemon.rename(columns={'#': 'id'})

In [51]:
pokemon

,id,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [57]:
legends = pokemon.groupby('generation') \
        .legendary.value_counts() \
        .to_frame()

Используйте датафрейм legends, полученный на предыдущем шаге, и измените в нём название столбца, перезаписав его в ту же переменную. 
Затем используйте unstack, чтобы поместить уровень индекса legendary в уровень оси столбцов. Иными словами, должно получиться две колонки – False & True. Результат сохраните в legends_unstacked.

In [60]:
legends = legends.rename(columns={'legendary': 'legendary_count'})

In [62]:
legends_unstacked = legends.unstack()

Немного усложним задачу. Теперь попробуем узнать, среди каких типов покемонов и какого поколения больше всего легендарных.

Сгруппируйте датасет pokemon по переменным generation и type_1, посчитайте количество легендарных покемонов внутри групп. Приведите данные в формат датафрейма, а затем используйте unstack(). В качестве ответа выберите вид и поколение покемона, среди которых больше всего легендарных.

In [93]:
pokemon_f = pokemon.groupby(['generation', 'type_1']) \
        .legendary \
        .value_counts() \
        .to_frame()

In [94]:
legends_1_unstacked = pokemon_f.unstack()

In [97]:
legends_1_unstacked.idxmax()

           legendary
legendary  False         (1, Water)
           True         (3, Dragon)
dtype: object

Преобразуйте представленные данные в длинный формат и запишите в переменную avocado_agg_long. В качестве индекса используйте type

In [98]:
avocado_agg = pd.DataFrame({'type' : ['conventional', 'organic'],
                            'AvgPrice_2015' : [1.077963, 1.673324],
                            'AvgPrice_2016' : [1.105595, 1.571684],
                            'AvgPrice_2017' : [1.294888, 1.735521],
                            'AvgPrice_2018' : [1.127886, 1.567176],
                            })
avocado_agg

           type  AvgPrice_2015  AvgPrice_2016  AvgPrice_2017  AvgPrice_2018
0  conventional       1.077963       1.105595       1.294888       1.127886
1       organic       1.673324       1.571684       1.735521       1.567176

In [100]:
avocado_agg_long = pd.wide_to_long(avocado_agg, ['AvgPrice'], i=['type'], j='year', sep=
'_')

In [101]:
avocado_agg_long

                   AvgPrice
type         year
conventional 2015  1.077963
organic      2015  1.673324
conventional 2016  1.105595
organic      2016  1.571684
conventional 2017  1.294888
organic      2017  1.735521
conventional 2018  1.127886
organic      2018  1.567176

In [103]:
superheroes = pd.read_csv('https://stepik.org/media/attachments/lesson/363874/superheroes_power_matrix.csv')

In [104]:
superheroes

,Name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [116]:
superheroes_long = superheroes.melt(id_vars=['Name'], var_name = 'superpower')

In [121]:
superheroes_powers = superheroes_long.query('value == True') \
    .groupby('Name') \
    .superpower \
    .apply(list) \
    .to_frame() \
    .reset_index()

In [122]:
superheroes_powers

                Name                                         superpower
0            3-D Man    [Agility, Super Strength, Stamina, Super Speed]
1             A-Bomb  [Accelerated Healing, Durability, Longevity, S...
2         Abe Sapien  [Agility, Accelerated Healing, Cold Resistance...
3           Abin Sur                               [Lantern Power Ring]
4        Abomination  [Accelerated Healing, Intelligence, Super Stre...
..               ...                                                ...
662  Yellowjacket II             [Flight, Energy Blasts, Size Changing]
663             Ymir  [Cold Resistance, Durability, Longevity, Super...
664             Yoda  [Agility, Stealth, Danger Sense, Marksmanship,...
665          Zatanna  [Cryokinesis, Telepathy, Magic, Fire Control, ...
666             Zoom  [Super Speed, Intangibility, Time Travel, Time...

[667 rows x 2 columns]