In [1]:
import pandas as pd
import requests
from io import BytesIO

8.3.1  Загрузите данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [2]:
url = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'

In [4]:
req = requests.get(url)

In [5]:
req

In [7]:
req.content

b'date,gender,users\r\n2020-06-14,Not specified,150\r\n2020-06-14,male,117\r\n2020-06-14,female,21'

In [8]:
data = req.content

In [9]:
df = pd.read_csv(BytesIO(data))

In [10]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [23]:
round(df.users[1] / df.users.sum() * 100)

41.0

In [24]:
# второй способ
text = req.text.splitlines()

In [25]:
text

['date,gender,users',
 '2020-06-14,Not specified,150',
 '2020-06-14,male,117',
 '2020-06-14,female,21']

In [26]:
header = text[0]
content = text[1:]

In [27]:
header = header.split(',')
content = [row.split(',') for row in content]

In [28]:
pd.DataFrame(content, columns=header)

         date         gender users
0  2020-06-14  Not specified   150
1  2020-06-14           male   117
2  2020-06-14         female    21

In [31]:
df.users.div(df.users.sum()) \
        .mul(100) \
        .round(0)

0    52.0
1    41.0
2     7.0
Name: users, dtype: float64

8.3.2  Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда. При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots

In [32]:
import numpy as np

In [33]:
url = 'https://stepik.org/media/attachments/lesson/361619/karpov_courses_test.csv'

In [34]:
df = pd.read_csv(url)

In [83]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [41]:
chrome_robots = np.where((df.user_type == "Robots") & (df.browser.str.contains('Chrome')), 1, 0)

In [42]:
chrome_robots = pd.Series(chrome_robots)

8.3.3  У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

ad_id – id объявления
user_id – id пользователя
click_type – тип клика (клик по заголовку объявления, клик по центру)

In [44]:
url = 'https://stepik.org/media/attachments/lesson/361619/sample_ads.csv'

In [45]:
df = pd.read_csv(url)

In [84]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [55]:
not_nan_count = df.click_type.dropna().count()

In [56]:
not_nan_count

11

In [ ]:
# второй вариант
(~df.click_type.isna()).sum()

8.3.4   В списке lst находятся различные элементы. Создайте списк new_list и сделайте следующее:

при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
если это получилось – добавьте преобразованное значение  в список new_list

In [77]:
lst = ['0', '2', 'Hello World', '11']

In [78]:
new_lst = []

In [81]:
for number in lst:
    try:
        new_lst.append(int(number))
    except:
        pass

In [82]:
new_lst

[0, 2, 11]

8.3.5  А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [ ]:
import json
from urllib.parse import urlencode

In [ ]:
with open('/home/jupyter/tokens/telega.json') as src:
    data = json.load(src)

In [ ]:
token = data['token']
chat_id = data['chat_id']

In [ ]:
message = '''In this world you better live for something
Or you gonna die for nothing'''


params = {'chat_id': chat_id, 
          'text': message}


base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)

resp = requests.get(url)