In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Какое значение атрибута Parent самое частое?

In [2]:
gff = pd.read_csv('gff.tsv', sep='\t')
gff.head()

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1

In [4]:
attribute_lists = gff.attributes.str.split(';')

In [17]:
def find_attribute(attributes):
    for attribute in attributes:
        if attribute.startswith('Parent='):
            return attribute
    return ''

In [18]:
parents = attribute_lists.apply(find_attribute)

In [19]:
parents

0       Parent=XM_001475631.1
1      Parent=XM_001475631.1,
2      Parent=XM_001475631.1,
3       Parent=XM_001475631.1
4       Parent=XM_001475631.1
                ...
507     Parent=XM_001475631.1
508     Parent=XM_001475631.1
509    Parent=XM_001475631.1,
510     Parent=XM_001475631.1
511     Parent=XM_001475631.1
Name: attributes, Length: 512, dtype: object

In [29]:
result = parents.str.split('=').str[1].str.strip(',')

In [31]:
result.value_counts()

XM_001475631.1              479
NC_000083.5:LOC100040603     33
Name: attributes, dtype: int64

Какое самое частое значение в колонке type?

In [32]:
gff

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1
...,...,...,...,...,...,...,...,...,...
507,chr17,RefSeq,exon,6812219,6818159,.,+,.,Parent=XM_001475631.1
508,chr17,RefSeq,protein,6806527,6812289,.,+,.,ID=;Parent=XM_001475631.1
509,chr17,RefSeq,CDS,6806527,6806553,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
510,chr17,RefSeq,exon,6811792,6811869,.,+,.,Parent=XM_001475631.1
511,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1

In [33]:
gff.type.value_counts()

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64